* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 3vh; */
}
body {
  background-color: #4dc1ff;
  display: flex;
  justify-content: center;
}
.container {
  background-color: white;
  width: 90%;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #7eb4d8c4;
}
button {
  margin: 10px;
  min-width: 15%;
}
.result {
  margin: 5px;
  cursor: pointer;
}
.result:hover {
  background-color: gainsboro;
}

img {
  width: 32px;
}
.form-container {
  padding: 5px;
}

label {
  display: block;
  font-size: 3vh;
  margin: 5px;
}
input {
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  height: 50px;
  border: 1px solid #acbbc257;
}
.card {
  font-size: 2.5vh;
  border: 1px solid #acbbc257;
  border-radius: 10px;
  /* box-shadow: 1px 1px 18px #8888; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 200px;
  justify-content: space-around;
}
#results {
  margin: 15px;
  font-size: 3vh;
  /* width: 100%; */

  /* border: 1px solid; */
}

#city {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}
#forecast-container {
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 570px) {
  #forecast {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
    gap: 10px;
  }
  input {
    width: 50%;
  }
}

@media screen and (max-width: 570px) {
  #forecast {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    row-gap: 10px;
  }
  .card {
    margin: 10px;
  }
}
